*.v
!xs_nanhu_fpga/src/rtl/*.v
!vcs/testbench/SimMMIO/*.v
!vcs/testbench/AXI4RAM/*.v
!vcs/testbench/*.v
!requirements.txt
!simulation/src/*.v

__pycache__

.vscode

*.txt
*.log
*.csv
*.jou
*.list
.Xil/
fpga/.Xil
test*
json/

# python third-party libraries are stored temporarily
psutil/