*.v
!xs_nanhu_fpga/src/rtl/*.v
!xs_kmh_fpga/src/rtl/*.v
!vcs/testbench/SimMMIO/*.v
!vcs/testbench/AXI4RAM/*.v
!vcs/testbench/*.v
!requirements.txt

__pycache__

.vscode

*.txt
*.log
*.csv
*.jou
*.list
*.tmp
.tmp_*
.Xil/
.gen/
.srcs/
fpga/.Xil
test*
json/
uvhs.tar.gz
uvhs_*/
fpga_diff_uvhs_*/
runtime_uvhs_*/
*.log.*
id_ed25519
microbench-*.bin

# python third-party libraries are stored temporarily
psutil/

# python virtual environment
.venv/
